@import "tailwindcss";

/*Standaard roc kleuren*/
.roct {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3c2a4d;
}

.bg-w {
    background-color: #ffffff;
}

.bg-lp {

    background-color: #F0F0F7;
}

.bg-p {

    background-color: #6E6EB4;
}

.roct {
    color: #402E56;
}


/*header*/
.headers {
    height: 15vh;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
}

.roclogo {
    height: 90px;
    padding-left: 1rem;
}


/*background*/
.diagonal-split {
    width: 100vw;
    height: 85vh;
    background: linear-gradient(135deg, #f1f1fb 50%, white 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


/*woord inveor*/

#WordInput {
    width: 90vw;
    max-width: 800px;
    border: none;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: #6c6bc4; /* paarse bovenbalk */
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: -2px;
}

#WordInput::placeholder {
    color: white;
}

#WordInput:focus {
    outline: none;
}

.wordkaart {
    height: 150px;
    width: 300px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


/*random css*/
.margintop {
    margin-top: 60px;
}


/*overige standaard css*/
:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #402E56;
    cursor: pointer;
    transition: border-color 0.25s;
    display: none;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
